#mapbutton {
	float:none;
	cursor:pointer;
}

#mappanel {
	-moz-border-radius:6px 6px 6px 6px;
	background:none repeat scroll 0 0 #DDDDDD;
	border:1px solid #888888;
	height:auto;
	margin:5px 0;
	padding:4px;
	width:auto;
}

#mappanel div {
	cursor: pointer;
}

.olControlEditingToolbar  .olControlModifyFeatureItemActive {
		background-image:
			url("http://dev.openlayers.org/releases/OpenLayers-2.8/theme/default/img/remove_point_on.png")
			;
		background-repeat: no-repeat;
		background-position: 0px 1px;
	}
	
	.olControlEditingToolbar .olControlModifyFeatureItemInactive {
		background-image:
			url("http://dev.openlayers.org/releases/OpenLayers-2.8/theme/default/img/remove_point_off.png")
			;
		background-repeat: no-repeat;
		background-position: 0px 1px;
	}
	
	.olControlEditingToolbar  .olControlSaveFeaturesItemActive {
		background-image:
			url("http://dev.openlayers.org/releases/OpenLayers-2.8/theme/default/img/save_features_on.png")
			;
		background-repeat: no-repeat;
		background-position: 0px 1px;
		margin-right: 30px;
	}
	
	.olControlEditingToolbar .olControlSaveFeaturesItemInactive {
		background-image:
			url("http://dev.openlayers.org/releases/OpenLayers-2.8/theme/default/img/save_features_off.png")
			;
		background-repeat: no-repeat;
		background-position: 0px 1px;
		margin-right: 30px;
	}
	
	.olControlEditingToolbar .olControlDragFeatureItemActive {
		background-image:
			url("http://dev.openlayers.org/releases/OpenLayers-2.8/theme/default/img/move_feature_on.png")
			;		background-repeat: no-repeat;
	}
	
	.olControlEditingToolbar  .olControlDragFeatureItemInactive {
		background-image:
			url("http://dev.openlayers.org/releases/OpenLayers-2.8/theme/default/img/move_feature_off.png")
			; 		background-repeat: no-repeat;
	}
	
	.olControlEditingToolbar .olControlSelectFeaturesItemActive {
		background-image:
			url("http://www.developertutorials.com/images/flashtutorial/arrow.jpg")
			;
			background-repeat: no-repeat;
			
	}
	
	.olControlEditingToolbar .olControlSelectFeaturesItemInactive {
		background-image:
			url("http://wiki.altium.com/download/attachments/3080266/Button_Arrow.png")
			;
			background-repeat: no-repeat;
			
	}
	
	.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive, 
	.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive {
		margin-right: 30px;
	}