<phpunit bootstrap="../../../application/tests/bootstrap.php"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true">
    <php>
      <includePath>..</includePath>
      <includePath>../../..</includePath>
    </php>
    <testsuite name="NeatlineFeaturesTests">
      <directory>unit</directory>
    </testsuite>
</phpunit>
