.nlfeatures .nlfeatures-edit {
  color: #fafafa;
  background-color: #382e22; }
.nlfeatures .nlfeatures-edit-nav-menu {
  background: transparent;
  border-left: 1px solid white; }
  .nlfeatures .nlfeatures-edit-nav-menu ul {
    margin-bottom: 0px;
    border-left: 1px solid white;
    background: transparent;
    float: left;
    margin-left: 1em; }
    .nlfeatures .nlfeatures-edit-nav-menu ul li {
      background-color: #2e261c;
      border-bottom-color: #2e261c;
      color: #dddddd;
      list-style-type: none;
      display: block;
      float: left;
      width: 75px;
      padding: 1em;
      margin: 0px;
      border-top: 1px solid white;
      border-right: 1px solid white; }
      .nlfeatures .nlfeatures-edit-nav-menu ul li a {
        color: #dddddd;
        text-decoration: none;
        font-size: 0.9em; }
    .nlfeatures .nlfeatures-edit-nav-menu ul li:hover {
      background-color: #382e22;
      cursor: pointer; }
    .nlfeatures .nlfeatures-edit-nav-menu ul li.selected {
      background-color: #eae9db;
      border-bottom-color: #eae9db;
      color: black; }
      .nlfeatures .nlfeatures-edit-nav-menu ul li.selected a {
        color: black; }
.nlfeatures .nlfeatures-edit-nav-tools {
  float: right; }
  .nlfeatures .nlfeatures-edit-nav-tools li {
    width: 20px; }
.nlfeatures .nlfeatures-edit-body {
  clear: both;
  color: black;
  background-color: #eae9db;
  padding: 1.5em; }
.nlfeatures .nlfeatures-map-tools {
  width: 99%;
  height: 45px;
  padding-top: 7px; }
.nlfeatures .text-container:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }
.nlfeatures .map-container {
  margin-top: 10px; }
.nlfeatures .nlfeatures-edit-raw,
.nlfeatures .nlfeatures-edit-map {
  background: transparent; }
.nlfeatures .olMap {
  border: 1px solid white;
  width: 99%;
  height: 360px; }
  .nlfeatures .olMap svg {
    display: block; }
  .nlfeatures .olMap .olControlLayerSwitcher .olButton {
    line-height: 1em;
    float: none; }
.nlfeatures .primary {
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #004b9a;
  border-bottom-color: #003f81; }
.nlfeatures .primary:hover {
  color: #fff; }
.nlfeatures .disabled {
  background-color: #cccccc;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#737373), to(#cccccc));
  background-image: -moz-linear-gradient(top, #737373, #cccccc);
  background-image: -ms-linear-gradient(top, #737373, #cccccc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #737373), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #737373, #cccccc);
  background-image: -o-linear-gradient(top, #737373, #cccccc);
  background-image: linear-gradient(top, #737373, #cccccc);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #004b9a;
  border-bottom-color: #003f81; }
.nlfeatures label.use-mapon {
  position: relative;
  float: left;
  padding-left: 16px;
  width: 8em;
  text-align: left;
  font-size: 1.1em;
  margin: 0; }
  .nlfeatures label.use-mapon input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    float: none;
    padding: 0; }
.nlfeatures .nlflash {
  display: none;
  margin-top: -3px;
  border: 1px solid #333;
  background: #eae9db;
  color: #333;
  padding: 2px 4px;
  width: 22%;
  opacity: 0.8; }
.nlfeatures label.olButton {
  color: #ddd; }

.field .use-mapon {
  clear: none !important;
  line-height: 2.125em; }
